<!DOCTYPE html>
<html ng-app="green-ops">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Green Ops Lawn & Landscaping</title>

    <!-- Styles -->

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="./styles/index.css"/>
    <link rel="stylesheet" type="text/css" href="./styles/home.css"/>
    <link rel="stylesheet" type="text/css" href="./styles/services.css"/>
    <link rel="stylesheet" type="text/css" href="./styles/aboutUs.css"/>
    <link rel="stylesheet" type="text/css" href="./styles/contactUs.css"/>

    <link rel="stylesheet" type="text/css" href="./styles/lrgMonitor.css"/>

    <link rel="stylesheet" type="text/css" href="./styles/lrgPhones.css"/>
    <link rel="stylesheet" type="text/css" href="./styles/tablets.css"/>
    <link rel="stylesheet" type="text/css" href="./styles/laptop.css"/>
    <link rel="stylesheet" type="text/css" href="./styles/lrgLaptop.css"/>

  </head>
  <body>
    <header ng-controller="indexCtrl">

      <div class="contact-info" id="top-tag">
        <p>Proudly Serving Utah</p>

        <div class="phone">
          <p><img class="icon" src="./images/phoneicon.svg"></img>801-336-6390</p>
        </div>

        <div class="social">
          <img class="icon" src="./images/facebook.svg"></img>
          <img class="icon" src="./images/google-plus.svg"></img>
        </div>

      </div>
        <div class="navigation">

            <div class="small-container">
                <img
                  ui-sref="home"
                 src=".//images/greenopslogo1.jpg"></img>

              <button ng-click="toggleDropDown()">
                <span class="menu-text">
                  Menu
                </span>
                <span class="icon-bar">
                  <div class="bar"></div>
                  <div class="bar"></div>
                  <div class="bar"></div>
                </span>
              </button>
            </div>

            <nav>
              <ul>
                <a
                ui-sref="home"
                ng-click="toggleDropDown()"
                >
                  <li>Home<br/><img class="icon" src="./images/arrowheaddown.svg"></img></li>
                </a>
                <a
                ui-sref="services"
                ng-click="toggleDropDown()"
                >
                  <li>Services<br/><img class="icon" src="./images/arrowheaddown.svg"></img></li>
                </a>
                <a
                ui-sref="about"
                ng-click="toggleDropDown()"
                >
                  <li>About<br/><img class="icon" src="./images/arrowheaddown.svg"></img></li>
                </a>
                <a
                ui-sref="contact"
                ng-click="toggleDropDown()"
                >
                  <li>Contact<br/><img class="icon" src="./images/arrowheaddown.svg"></img></li>
                </a>
              </ul>
            </nav>


        </div>
    </header>

    <main>
      <!--
      autoscroll="true" is for ui-sref linking to top of page.
    -->
      <ui-view autoscroll="true"></ui-view>
    </main>

    <footer ng-controller="indexCtrl">

      <div class="foot-top">

        <button ng-click="topFunction()"> Back To Top </button>

        <ul class="bottom-nav">
          <a
          ui-sref="home">
            <li>Home</li>
          </a>
          <a
          ui-sref="services">
            <li>Services</li>
          </a>
          <a
          ui-sref="about">
            <li>About</li>
          </a>
          <a
          ui-sref="contact">
            <li>Contact</li>
          </a>
        </ul>

        <div class="contact-info-bottom">
          <div class="phone">
            <img class="icon" src="./images/phoneicon.svg"></img>
            <p>801-336-6390</p>
          </div>
          <div class="email">
            <img class="icon" src="./images/emailicon.svg"></img>
            <p>greenops.utah@gmail.com</p>
          </div>
        </div>
      </div>
      <div class="social">
        <img class="icon" src="./images/facebook.svg"></img>
        <img class="icon" src="./images/google-plus.svg"></img>
      </div>
      <div class="foot-bottom">
        <p>&copy; {{date | date:'yyyy'}} GreenOps LLC.</p>
      </div>
    </footer>

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>

    <!-- UI Router -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.js"></script>

    <script src="app.js"></script>

    <!-- Services -->
    <script src="./js/services/servicesSvc.js"></script>

    <!-- Controllers -->
    <script src="./js/controllers/indexCtrl.js"></script>
    <script src="./js/controllers/homeCtrl.js"></script>
    <script src="./js/controllers/servicesCtrl.js"></script>

  </body>
</html>
