<div class="about-header">
  <div class="about-title">
    <h1>About <span style="color:#8BCB56">Us</span></h1>
  </div>
</div>

<div class="about-container">
  <div class="profile-pic">
    <img src="./images/tommy.jpg"></img>
  </div>
  <div class="line"></div>
  <div class="about-card">
    <h2>Tommy Patane</h2>
    <h4>Owner</h4>
    <p>Lorem ipsum dolor sit amet, vis ei nibh fierent, eros evertitur mea eu. At quem legimus vix. Dolorum vituperata cu sed, utinam convenire ex sed, vix et dolore copiosae. Lorem ipsum dolor sit amet, vis ei nibh fierent, eros evertitur mea eu. At quem legimus vix. Dolorum vituperata cu sed, utinam convenire ex sed, vix et dolore copiosae.
</p>
  </div>
</div>
