<div class="contact-header">
  <div class="contact-title">
    <h1>Contact <span style="color:#8BCB56">Us</span></h1>
  </div>
</div>

<div class="contact-section">
  <h3>Phone Number: 801-336-6390</h3>
  <h3>E-mail: greenops.utah@gmail.com</h3>
  <div class="contact-container">
    <h2>Request a Quote!</h2>
    <form>
      <input placeholder="Your Name"></input>
      <input placeholder="Your E-Mail Address"></input>
      <textarea placeholder="Your Message..."></textarea>
      <button>Submit</button>
    </form>
  </div>
