.about-header {
  background-image: url("../images/backyard.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
  position: relative;
}

.about-title {
  background: #333333;
  vertical-align: bottom;
  position: absolute;
  bottom: 0px;
  width: 100vw;
}

.about-title h1 {
  margin: 0px;
  text-align: center;
  color: #fff;
  padding: 10px 0px;
}

.about-container {
  background: #fff;
  padding: 50px 15px;
}

.about-container img {
  display: block;
  margin: 0px auto;
}

.line {
  border: 1px solid #95989A;
  margin: 50px 15px;
}

.about-card {
  padding: 0px 15px;
}

.about-card h2 {
  margin-bottom: 0px;
}

.about-card h4 {
  margin: 0px;
  color: #2D7100;
}

.about-card p {
  margin-top: 30px;
}
