@media screen and (min-width: 1000px) {

   /*Index*/
   header {
    height: 120px;
   }

   header .contact-info {
     display: flex;
     width: 90%;
     margin: 0px auto;
     align-items: center;

   }

   header .contact-info p {
     width: 63.2%;
     text-align: left;
   }

   header .phone {
     width: 25%;
     border: none;
     display: flex;
     justify-content: flex-end;

   }

   header .phone .icon {
     margin-right: 5px;
   }

   header .phone p {
     display: flex;
     justify-content: flex-end;
   }

   header .social {
     width: 11%;
     text-align: right;
   }

   header .navigation {
     width: 90%;
     margin: 0px auto;
     height: 127px;
     position: absolute;
     left: 0;
     right: 0;
     display: flex;
     z-index: 49;
   }

  header .small-container {
    width: 40%;
  }

  header .small-container img{
    margin: 0px auto;
    height: 120px;
    width: 280px;
  }

  header .navigation button {
    display: none;
  }

  nav {
    overflow: visible;
    width: 80%;
    background: #2D7100;
  }

  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2D7100;
    width: 100%;
    height: 127px;
  }

  nav a {
    width: 25%;
    display: flex;
    justify-content: center;
  }

  nav li {
    width: 140px;
    text-align: inherit;
    background: #2D7100;
    text-align: center;
    color: #fff;
    font-size: 24px;
    margin: 0px 5px;
  }

  nav li:hover {
    font-size: 24px;
    border-bottom: 3px solid #fff;
  }

  .slide-down {
    height: 0px;
  }



   /*Home*/
   .home-header {
     height: 600px;
   }

   .home-header h1{
     font-size: 51px;
   }

  .professional {
    display: flex;
    justify-content: space-between;
    padding: 80px 0px;
    width: 100vw;
  }

  .services-intro {
    width: 28%;
    height: 355px;
    margin: 0px 20px;

  }

  .services-intro h2{
    margin: 15px 0px;
    font-size: 28px;

  }

  .services-intro p{
    padding-top: 20px;
    font-size: 18px;
  }

  .featured-service {
    padding: 0px;
    width: 22%;
    font-size: 16px;
    margin: 0px 10px;
  }

  .featured-service img {
    height: 169px;
    width: 100%;

  }

  .featured-service h3 {
    font-size: 20px;
  }

  .featured-service p {
    font-size: 18px;
  }

  .choose-us {
    padding: 60px 0px;
  }

  .choose-us h2{
    font-size: 51px;
  }

  .why-container {
    display: flex;
  }

  .why-cards {
    width: 33.33%;
    height: 282px;
    padding-top: 40px;
  }

  .why-cards h3{
    margin: 20px 0px;
    font-size: 23px;
  }

  .why-cards p{
    margin: 40px 0px;
    font-size: 18px;
  }

  .testament-header h2 {
    font-size: 51px;
  }

  .testament-container {
    display: flex;
    justify-content: space-around;
  }

  .testament-cards {
    width: 527px;
    height: 307px;

  }

  .testament-cards p{
    font-size: 18px;
    margin: 80px 0px;

  }

  .testament-cards h4 {
    font-size: 20px;
  }

  .testament-cards span {
    font-size: 18px;
  }

  .contact-section {
    padding-left: 60px;
    padding-right: 60px;
  }

  .contact-container h2 {
    font-size: 44px;
  }

  .contact-container form {
    padding-bottom: 40px;
  }

  .contact-container input {
    height: 45px;
    width: 70%;
    font-size: 20px;
  }

  .contact-container textarea {
    height: 288px;
    width: 70%;
    font-size: 20px;
    margin-bottom: 40px;
  }

  .contact-container button {
    width: 330px;
    height: 64px;
    font-size: 20px;
  }

  /*Services*/

  .services-header {
    height: 600px;
  }

  .services-title h1{
    font-size: 51px;
  }

  .service-card {
   width: 33.33%
  }

  /*About Us*/

  .about-header {
    height: 600px;
  }

  .about-header h1{
    font-size: 51px;
  }

  .about-container {
    display: flex;
    justify-content: space-between;
    padding: 100px;
  }

  .about-container .profile-pic {
    margin: 0px;
    width: 33.33%
  }

  .about-container .line {
    margin: 0px 10px;
    text-align: center;
  }

  .about-card {
    width: 33.33%;
    padding: 0px;
  }

  .about-card h2{
    font-size: 32px;
  }

  .about-card h4{
    font-size: 20px;
  }

  .about-card p{
    font-size: 18px;
  }


  /*Contact Us*/
  .contact-header {
    height: 500px;
  }
  .contact-section h3 {
    font-size: 36px;
  }

  .contact-header h1{
    font-size: 51px;
  }

/*Footer*/
  footer {

  }

  footer .foot-top button {
    display: none;
  }

  footer .bottom-nav {
    display: flex;
    list-style: none;
    padding-left: 10px;
  }

  footer .bottom-nav li {
      text-align: center;
      padding: 10px 0px;
      width: 140px;
      color: #fff;
      font-size: 24px;
      /*transition: border-bottom 0.3s linear;*/
  }

  .bottom-nav li:hover {
    border-bottom: 3px solid #fff;
  }

  footer .contact-info-bottom {
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;

  }

  footer .contact-info-bottom .phone {
    font-size: 28px;
  }

  footer .contact-info-bottom .email {
    font-size: 28px;
  }

}

/*-----------------------------------*/
